@media screen and (max-width:1040px){

    .nav-menu.active{
        left: 0;
    }
    .nav-menu li:hover{
        background-color: rgba(249, 249, 249, 0.547);
        padding: 0.8rem 2rem;
        width: 100%;
        text-align: center;
    }

    .nav-menu li:hover a{
        color: rgb(22, 22, 22);
    }

    .nav-menu li a{
        font-size: 2rem;
        font-weight: 600;
    }

    .hamburger{
        display: initial;
    }
}